Django==1.7
South==0.8.4
argparse==1.1
coverage==3.6
dj-database-url==0.3.0
dj-static==0.0.6
django-annoying==0.7.9
django-datetime-widget==0.9
django-debug-toolbar==1.2.1
django-scheduler==0.7.2
django-toolbelt==0.0.1
gunicorn==19.1.1
postgres==2.1.2
psycopg2==2.5.4
python-dateutil==2.2
pytz==2014.7
six==1.8.0
sqlparse==0.1.11
static3==0.5.1
vobject==0.8.1c
wsgiref==0.1.2


Django==1.6
dj-database-url==0.2.2
dj-static==0.0.5
gunicorn==18.0
psycopg2==2.5.1
static==0.4
wsgiref==0.1.2