{% extends "base_template.html" %}
{% load staticfiles %}

{% block content %}   <!-- Header -->
    <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="box">
                    <div class="intro-message">
{#                        <h1>Diana Vilar</h1>#}
{#                        <h3>Perruqería</h3>#}
{#                        <hr class="intro-divider">#}
{#                        <ul class="list-inline intro-social-buttons">#}
{#                            <li>#}
{#                                <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-yahoo fa-fw"></i> <span class="network-name">Yahoo</span></a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>#}
{#                            </li>#}
{#                        </ul>#}
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-2">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Diana Lourido Vilar<br></h2>
                    <div class="lead"> <p>Serano 6</p>
                    <p>15130 Corcubión</p>
                    <p>637234039
                    <p>Dilovidecor@gmail.com</p></div>
                </div>
                <div class="col-lg-5 col-lg-offset-1 col-sm-5">
                    <img  class="img-responsive" src="{% static 'img/hair-scissors-and-comb-blink-images.jpg' %}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>


       <div class="content-section-b"  >


    <div class="container" >

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
{#                <h2 class="section-heading">Recogido</h2>#}
{#                <p class="lead"><ul>#}
{##}
{#                <li><h4>media melena -17.00 / 15.00</h4></li>#}
{#                <li><h4>pelo largo - 17.00 / 20.00 </h4></li>#}
{#                <li><h4>movia — 60.00</h4></li>#}
{#                <li><h4>ampolla antic. — 3.00</h4></li>#}
                </ul>

            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
{#                <img class="img-responsive" src="{% static 'img/tumblr_m24jdaCT2P1rsqk93o2_r2_400.png' %}" alt="">#}
            </div>
        </div>

    </div>
    </div>


{% endblock content %}